<html>

    <head>
        <title></title>
    </head>

    <body>
        <h1>Cadastro de Locais</h1>

        <form action="salvarLOCAIS" method="post">

            <br>

            <label for="NOME">NOME:</label>
            <input type="text" name="NOME" id="NOME" size="15" required="required"><br>

            <br>

            <label for="ENDERECO">ENDERECO:</label>
            <input type="text" name="ENDERECO" id="ENDERECO" size="15" required="required"><br>
            
            <br>

            <input type="submit" value="Salvar">
            <input type="reset" value="Limpar">

        </form>

    </body>


</html>