<html>

<head>
  <title>Eventos</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/reset.css" />
  <link rel="stylesheet" href="assets/css/longForm.css">
  <script language="javascript">
    function validarInformacoesEventos() {
      var lat = document.getElementById("LAT").value;
      var lng = document.getElementById("LNG").value;
      var nome = document.getElementById("NOME").value;
      var sobre = document.getElementById("SOBRE").value;
      var data = document.getElementById("DATAE").value;
      var abertura = document.getElementById("ABERTURA").value;
      var conclusao = document.getElementById("CONCLUSAO").value;

      var patternHora = /^[0-2][0-9]:[0-5][0-9]$/

      if (!(nome || sobre || data || abertura || conclusao)) {
        alert('Os campos nome, sobre, data, abertura e conclusão são obrigatórios');
        return false;
      }

      else if ((nome.length < 5) || (nome.length > 60)) {
        alert('O campo nome deve ter no minimo 5 caracteres e máximo 6.');
        return false;
      }

      else if (!patternHora.test(abertura && conclusao)) {
        alert('O campo deve seguir o padrão hh:mm');
        return false;
      }

      else
        return true
    }
  </script>
</head>

<body>
  <div class="form">
    <h1 class="title">Cadastro de Eventos</h1>
    <form action="salvarEventos" method="post" onsubmit="return validarInformacoesEventos()">

      <div class="input-container ic1">
        <input class="input" type="number" name="LAT" id="LAT" size="20" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="LAT">Lat:</label>
      </div>

      <div class="input-container ic1">
        <input class="input" type="number" name="LNG" id="LNG" size="20" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="LNG">Lng:</label>
      </div>
      <div class="input-container ic1">
        <div class="cut"></div><input class="input" type="text" name="NOME" id="NOME" size="30"  placeholder=" " required 
        maxlength="60" minlength="5">
        <label class="placeholder" for="NOME">Nome: </label>
      </div>
      <div class="input-container ic1">
        <input class="input" type="text" name="SOBRE" id="SOBRE" size="50" placeholder=" " required>
        <div class="cut"></div>
        <label class="placeholder" for="SOBRE">Sobre:</label>
      </div>
      <div class="input-container ic1">
        <input class="input" type="date" name="DATAE" id="DATAE" size="15" placeholder=" " required>
        <div class="cut"></div>
        <label class="placeholder" for="DATAE">Data:</label>
      </div>

      <!-- Deixei abertura e conclusão como text por casusa do : -->

      <div class="input-container ic1">
        <input class="input" type="text" name="ABERTURA" id="ABERTURA" size="15" required maxlength="5"
        pattern="[0-2][0-9]:[0-5][0-9]" placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="ABERTURA">Abertura:</label>
      </div>
      <div class="input-container ic1">
        <input class="input" type="text" name="CONCLUSAO" id="CONCLUSAO" size="15" required maxlength="5"
        pattern="[0-2][0-9]:[0-5][0-9]"  placeholder=" ">
        <div class="cut"></div>
        <label class="placeholder" for="CONCLUSAO">Conclusão:</label>
      </div>

      <input class="submit" type="submit" value="Salvar">

    </form>

  </div>
</body>

</html>